@page
@model TeamApplication.DetailsState

@{
    ViewData["Title"] = "Detalhes do Estado";
}

<h3>Detalhes do Estado</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State.UFAbreviation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State.UFAbreviation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State.UFName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State.UFName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.State.StateId">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
