@page
@model TeamApplication.DeleteEntity

@{
    ViewData["Title"] = "Excluir Entidade";
}

<h3>Excluir Entidade</h3>

<h4>Você tem certeza que quer excluir este registro? </h4>
<h6>A operação é irreversível!</h6>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.EntityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.EntityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.VisitDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.VisitDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.VisitTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.VisitTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.VisitDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.VisitDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.VisitScale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.VisitScale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.MaxVolunteer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.MaxVolunteer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Entity.EntityId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
