@page
@model TeamApplication.DetailsEntity

@{
    ViewData["Title"] = "Detalhes da Entidade";
}

<h3>Detalhes da Entidade</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.EntityName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.EntityName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.VisitDay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.VisitDay)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.VisitTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.VisitTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.VisitDuration)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.VisitDuration)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.VisitScale)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.VisitScale)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.MaxVolunteer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.MaxVolunteer)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.Contact)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.Contact)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Entity.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Entity.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.EntityId">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
