@page
@model TeamApplication.IndexEntity

@{
    ViewData["Title"] = "Entidades Assistidas";
}

<h2>Entidades Assistidas</h2>

<p>
    <a asp-page="Create">+Entidade |</a>
    <a asp-page="/Job/Create">+Ação Voluntária</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por Nome:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
            <a asp-page="./Index">Limpar</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Entities[0].EntityName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr>
                <td>
                    <small>@Html.DisplayFor(modelItem => item.EntityName)</small> 
                </td>
                <td>
                    <small>@Html.DisplayFor(modelItem => item.Contact)</small>
                </td>
                <td>
                    <small>@Html.DisplayFor(modelItem => item.Phone)</small>
                </td>
                <td>
                    <small>@Html.DisplayFor(modelItem => item.Email)</small>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.EntityId">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.EntityId">Abrir</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EntityId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Entities.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Entities.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Entities.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Entities.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Próxima
</a>