@page
@model TeamApplication.DeleteAddress

@{
    ViewData["Title"] = "Excluir Endereço";
}

<h3>Excluir Endereço</h3>

<h4>Você tem certeza que quer excluir este registro? </h4>
<h6>A operação é irreversível!</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.AddressKind)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.AddressKind)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.Designation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.Designation)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.District)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.District)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.Complement)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.Complement)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address.City.CityName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Address.AddressId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
