@page
@model TeamApplication.DetailsCity

@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h3>Detalhes da Cidade</h3>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.State.UFName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.State.UFName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.State.UFAbreviation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.State.UFAbreviation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.City.CityId">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
