@page
@model TeamApplication.IndexCity

@{
    ViewData["Title"] = "City";
}

<h2>City</h2>

<p>
    <a asp-page="Create">Create City |</a>
    <a asp-page="/State/Create">Create State</a>

</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by City Name, State:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Cities[0].CityName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Cities[0].State.UFAbreviation)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.UFAbreviation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CityId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CityId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Cities.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Cities.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Cities.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Cities.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>