@page
@model TeamApplication.DetailsVolunteer

@{
    ViewData["Title"] = "Detalhes do Voluntário";
}

<h3>Detalhes do Voluntário</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VDocCPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VDocCPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VDocRG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VDocRG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VBirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VBirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VResumee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VResumee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VMessagePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VMessagePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VSocialMidiaProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VSocialMidiaProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.VActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.VActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.AddressKind)
            @Html.DisplayFor(model => model.Volunteer.Address.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address.Complement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.Complement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address.City.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.City.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Address.City.State.UFAbreviation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address.City.State.UFAbreviation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Volunteer.VolunteerId">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
