@page
@model TeamApplication.DeleteJob

@{
    ViewData["Title"] = "Excluir Ação Voluntária";
}

<h3>Excluir Ação Voluntária</h3>

<h4>Você tem certeza que quer excluir este registro? </h4>
<h6>A operação é irreversível!</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ActionKind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ActionKind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.MaxVolunteer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.MaxVolunteer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Entity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Entity.Contact)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Job.JobId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
