@page
@model TeamApplication.DetailsJob

@{
    ViewData["Title"] = "Jobs By Entity Details";
}

<h2>Jobs By Entity Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Job.JobDay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Job.JobDay)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Job.JobPeriod)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Job.JobPeriod)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Job.ActionKind)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Job.ActionKind)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Job.MaxVolunteer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Job.MaxVolunteer)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Job.Entity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Job.Entity.EntityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.JobId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
