@page
@model TeamApplication.IndexJobs

@{
    ViewData["Title"] = "Ações Voluntárias";
}

<h3>Ações Voluntárias</h3>

<p>
    <a asp-page="Create">+Ação</a>
    <a asp-page="/Teams/Create">+Time</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por Nome:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
            <a asp-page="./Index">Limpar</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Jobs[0].JobDay)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].JobPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].ActionKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].MaxVolunteer)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Jobs[0].Entity.EntityName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionKind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxVolunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity.EntityName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.JobId">Abrir</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
