@page
@model TeamApplication.DeleteSchedule

@{
    ViewData["Title"] = "Excluir Agenda";
}

<h3>Excluir Agenda</h3>

<h4>Você tem certeza que quer excluir este registro? </h4>
<h6>A operação é irreversível!</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.TSDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.TSDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.TSPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.TSPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Volunteer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Volunteer.VName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Schedule.TeamScheduleId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
