@page
@model TeamApplication.IndexSchedule

@{
    ViewData["Title"] = "Agenda Livre";
}

<h3>Agenda Livre</h3>

<p>
    <a asp-page="Create">+Novo</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procurar                                                                                                          
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
            <a asp-page="./Index">Limpar</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Schedules[0].TSDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].TSPeriod)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Schedules[0].Volunteer.VName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TSDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.VName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TeamScheduleId">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.VolunteerId">Agenda</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TeamScheduleId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Schedules.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Schedules.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Schedules.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Schedules.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Próximo
</a>
