@page
@model TeamApplication.Pages.Schedule.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TSDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TSPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Volunteer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TSDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.VDocCPF)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamScheduleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamScheduleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
